.cnt {
	background-color: #fff;
	padding: 110px 0 140px;

	&__quote {
		color: #e8e8e8;
		display: block;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 6.25em;
		line-height: 50px;
		text-align: center;
	}

	&__text {
		color: #777;
		font-size: 1.125;
		line-height: 30px;
		text-align: center;
		width: 70%;
		margin: 30px auto;
	}

	&__author {
		color: #333;
		font-size: 1.25em;
		text-align: center;
	}

	&__occupation {
		color: #259aef;
		font-size: .93em;
		text-align: center;
	}

	.carousel-indicators {
		margin-top: 30px;
		position: relative;

		li {
			background: #e8e8e8;
			border: none;
			height: 8px;
			width: 8px;

			&.active {
				background: $primary;
			}
		}
	}
}