.counters {
	background: linear-gradient(to right, #59edfb 0%,#2792ec 100%);
	color: #fff;
	padding: 100px 0;

	&__cards-shelf {
		display: flex;
		justify-content: space-between;
	}

	&__card {
		align-items: center;
		border: 1px solid #fff;
		display: flex;
		height: 170px;
		justify-content: center;
		width: 170px;
	}

	&__text {
		align-items: center;
		display: flex;
		flex-direction: column;
		font-weight: 400;
		font-size: 1em;
		justify-content: center;
		text-transform: uppercase;

		.number {font-size: 3.125em;}
		.strong {
			font-weight: bold;
			font-size: 1.125em;
		}
	}
}