.motivations {
	background-color: #fafafa;
	padding: 140px 0 150px;

	@media (max-width: $mobile) {
		padding: 50px 0;
	}

	&__title {
		color: #141414;
		margin: 0 0 30px;
		width: 80%;
	}

	&__text {
		font-size: 1.125em;
		color: #7f8887;
		line-height: 30px; 
		margin: 0 0 60px;

		@media (max-width: $mobile) {
			font-size: 1em;
			line-height: 27px;
			margin-bottom: 25px; 
		}
	}

	&__link {
		font-size: 1.25em;
		padding: 10px 33px;
		text-decoration: none;
		text-transform: uppercase;

		@media (max-width: $mobile) {
			font-size: 1em;
			padding: 5px 16px;
		}
	}

	&__cards {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@media (max-width: $mobile) {
			margin-top: 50px;
			justify-content: center;
		}

		.card {
			text-align: center;

			@media (max-width: $mobile) {
				align-items: center;
				display: flex;
				flex-direction: column;
				margin-bottom: 20px;
				width: 45%;
			}

			&:hover {
				.card__title {
					color: $primary;
				}

				.card__icon {
					@for $i from 1 to 7 {
						&.icon-0#{$i} {
							&::after {
								content: url('../images/motivations-icon-0#{$i}--blue.png');
							}
						}
					}
				}
			}

			&__icon {
				align-items: center;
				background-color: #fff;
				border-radius: 100%;
				display: flex;
				height: 105px;
				justify-content: center;
				margin: 0 40px 15px 40px;
				position: relative;
				width: 105px;

				@for $i from 1 to 7 {
					&.icon-0#{$i} {
						&::after {
							content: url('../images/motivations-icon-0#{$i}.png');
						}
					}
				}
				
				@media (max-width: $mobile) {
					margin: 0 0 15px 0;
				}
			}

			&__title {
				color: #777;
				font-weight: 400;
				margin-bottom: 25px;
				text-transform: uppercase;
				transition: all .3s ease;
			}
		}
	}
}