.solutions {
	background: $blue-gradient;
	color: #fff;
	padding: 100px 0;

	@media (max-width: $mobile) {
		padding: 50px 0;
	}

	&__title {
		margin: 0 0 30px;
	}

	&__text {
		font-size: 1.125em;
		line-height: 35px;

		@media (max-width: $mobile) {
			font-size: 1em;
			line-height: 27px;
		}
	}

	&__cards-shelf {
		display: flex;
		justify-content: space-between;

		@media (max-width: $mobile) {
			flex-wrap: wrap;
			justify-content: center;
		}

		.card {
			align-items: center;
			border: 1px solid #fff;
			display: flex;
			flex-direction: column;
			height: 140px;
			justify-content: center;
			width: 140px;

			@media (max-width: $mobile) {
				margin: 5px;
			}

			&.--inverted {
				background-color: #fff;
				color: #5a5a5a;
			}

			&__title {
				margin-top: 23px;
				text-transform: uppercase;
			}
		}
	}
}