@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:300,400,600&display=swap');

body {
	font-family: 'Lato', sans-serif;
}

* { box-sizing: border-box; }

.container {
	padding: 0 !important;
	
	@media (max-width: $mobile) {
		width: 90% !important;
	}
}