@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('../fonts/#{$icomoon-font-family}.eot?yotz60');
  src:  url('../fonts/#{$icomoon-font-family}.eot?yotz60#iefix') format('embedded-opentype'),
	url('../fonts/#{$icomoon-font-family}.ttf?yotz60') format('truetype'),
	url('../fonts/#{$icomoon-font-family}.woff?yotz60') format('woff'),
	url('../fonts/#{$icomoon-font-family}.svg?yotz60##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google {
  &:before {
	content: $icon-google; 
  }
}
.icon-youtube {
  &:before {
	content: $icon-youtube; 
  }
}
.icon-facebook {
  &:before {
	content: $icon-facebook; 
  }
}
.icon-twitter {
  &:before {
	content: $icon-twitter; 
  }
}

