// COLORS
$primary: #2faaf1 !default;

// GRADIENTS
$blue-gradient: linear-gradient(to right, #59edfb 0%,#2792ec 100%);

// FONTS
$title: 'Open Sans', sans-serif;

// ICONS
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-google: "\e900";
$icon-youtube: "\e901";
$icon-facebook: "\ea90";
$icon-twitter: "\ea96";

// Sizes

$mobile: 768px;

