// COLORS
$primary: #2faaf1 !default;

// GRADIENTS
$blue-gradient: linear-gradient(to right, #59edfb 0%,#2792ec 100%);

// FONTS
$title: 'Open Sans', sans-serif;

// ICONS
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-youtube: "\e900";
$icon-google: "\e901";
$icon-solutions-icon-01: "\e902";
$icon-solutions-icon-02: "\e903";
$icon-solutions-icon-03: "\e904";
$icon-solutions-icon-04: "\e905";
$icon-facebook: "\ea90";
$icon-twitter: "\ea96";



// Sizes

$mobile: 768px;

